<template>
  <app-todoTable @refreshTodos="loadTodos"></app-todoTable>
</template>


<script>

import axios from 'axios';
import TodoTable from '@/components/TodoTable';

export default {
  name: 'DisplayTodo',
  components: {
    'app-todoTable': TodoTable
  },
  methods: {
    loadTodos() {
      this.$store.dispatch('TodoModule/loadTodos');
    }
  },
  created() {
    this.loadTodos();
  }
}

</script>
