<template>
  <div>
    <div class="row">
      <div class="col-lg-12">
        <form v-on:submit.prevent="newTodo">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Todo message</label>
            <textarea class="form-control" rows="3" v-model="todoMessage"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <br />
    <app-todoTable @refreshTodos="loadTodos"></app-todoTable>
  </div>
</template>

<script>
import axios from 'axios';
import Vue from 'vue';
import TodoTable from '@/components/TodoTable';
import Alert from '@/components/Alert';
import TodoService from '@/services/TodoService';

export default {
  name: 'NewTodo',
  components: {
    'app-todoTable': TodoTable,
    'app-alert': Alert
  },
  data() {
    return {
      title: 'New todo',
      todoMessage: ''
    }
  },
  methods: {
    newTodo() {
      //TODO: move this to Vuex actions
      TodoService.addTodo(this.todoMessage)
        .then(response => {
          this.$toastr.Add({
            msg: "Todo added", // Message
            clickClose: false, // Click Close Disable
            timeout: 2000, // Remember defaultTimeout is 5 sec..
            type: "success" // Toast type
          });
          this.todoMessage = '';
          this.loadTodos();
        })
        .catch(error => {
          console.log(error);
        });
    },
    loadTodos() {
      this.$store.dispatch('TodoModule/loadTodos');
    }
  },
  created() {
    this.loadTodos();
  }
}
</script>
