<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Todo App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <router-link to="/" class="nav-item nav-link" exact>Home</router-link>
        <router-link to="/NewTodo" class="nav-item nav-link">New Todo</router-link>
        <router-link to="/DisplayTodo" class="nav-item nav-link">Display Todo</router-link>
      </div>
    </div>
  </nav>
</template>

<script>

export default {
  name: 'Navbar'
}

</script>